@font-face {
  src: url('~assets/fonts/Georama/Georama-VariableFont_wdth,wght.ttf');
  font-family: 'Georama';
  font-display: swap;
}

@font-face {
  src: url('~assets/fonts/Georama/Georama-Italic-VariableFont_wdth,wght.ttf');
  font-family: 'Georama';
  font-display: swap;
  font-style: italic;
}
